spring:
  main:
    banner-mode: OFF

  datasource:
    url: jdbc:h2:mem:medicalSchedule_db
    username: sa
    password: secret

  jpa:
    database: H2
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: true

  flyway:
    enabled: true
    locations:
      - db/migration

